.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.NavBar {
  /* display: flex;
  flex-direction: right;
  justify-content: space-evenly; */
  margin: 1%;
  padding: 2%;
}

a.active {
  color: teal
}



.loginForm {
  background-color: lightpink;
  opacity: 0.8;
  margin-top: 10%;
  padding: 5%;
  width: 30%;
}

.loginButton {
  background-color: #81F7F3;
  width: 50%;
  margin: 0 auto;
}

.home {
   height: 100%;
   padding-top: 30%;
   margin-left: 40%;
   justify-content: center;
  align-items: center;
}

.link {
  color: #DF013A;
  text-decoration: none;
  
}

h1 {
  font-size: 3em;
  font-family: URW Chancery L, cursive; 
  font-weight: bold;
}

a:hover {
  color: #FA5882;
  text-decoration: none;
}