.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.NavBar {
  background-color: rgb(159, 1, 2, 0.5);
  margin-left: 1%;
  padding: 1%; 
  border-radius: 10px;
  width: 35%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.navlink {
  font-size: 1.25em;
  padding-right: 3%;
  
}

a.active {
  color: #2EFEF7;
} 

.entryContainer {
  margin-left: 35%;
  margin-top: 1%;
  padding: .5%;
  background-color: rgb(242, 242, 242, 0.5);
  border-radius: 10px;
  width: 45%;
  text-align: center;
  /* border-style: solid;
  border-color: black;
  border-width: 1px; */
}

.entryContainer a {
  color: rgb(1, 223, 215, 0.8);
  
}

.entryCard {
  margin-left: 35%;
  margin-top: 10%;
  padding: 1%;
  background-color: rgb(242, 242, 242, 0.5);
  border-radius: 10px;
  width: 40%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.entryCard ul li {
  list-style-type: none;
}

.loginForm {
  background-color: rgb(245, 194, 199, 0.7);
  margin-top: 2%;
  padding: 3%;
  width: 30%;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.loginButton {
  background-color: rgb(1, 223, 215, 0.8);
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.logout {
  color: rgb(1, 223, 215);
  border-radius: 5px;
}

.home {
   height: 100%;
   padding-top: 30%;
   margin-left: 40%;
   justify-content: center;
   align-items: center;
}

.link {
  color: #DF013A;
  text-decoration: none;
  
}

h1, h4 {
  font-size: 3em;
  font-family: URW Chancery L, cursive; 
  font-weight: bold;
}

h3 {
  /* font-size: 2em; */
  font-family: URW Chancery L, cursive; 
  font-weight: bold;
}

.submitButton a {
  color: rgb(1, 223, 215);
}


a:hover {
  color:  rgb(245, 194, 199);

}

.quoteContainer {
  padding: 1%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: rgba(242, 242, 242, 0.308);
  border-radius: 10px;
  width: 35%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.quoteContainer h4 {
  font-size: 1.5em;
}

.quoteContainer p {
  font-size: .75em;
}

.deleteButton {
  background-color: white;
  border-radius: 2px;
  padding: 1.5%;
  color: rgb(1, 223, 215);
  text-align: center;
}